<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mapper.CourseMapper">

    <select id="selectAll" resultType="com.demo4.pojo.Course">
        select * from c_course
    </select>

    <select id="getById" resultType="com.demo4.pojo.Course">
        select * from c_course where id=#{id}
    </select>

    <select id="getByName" resultType="com.demo4.pojo.Course">
        select * from c_course where name=#{name}
    </select>

    <insert id="add">
        insert into c_course(name,hours,sid,img) values (#{name},#{hours},#{sid},#{img})
    </insert>

    <delete id="delete">
        delete from c_course where id=#{id}
    </delete>

    <update id="update">
        update c_course set name=#{name}, hours=#{hours}, sid=#{sid},img=#{img} where id=#{id}
    </update>
</mapper>